<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DegreeViz</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.png') }}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-RH00BZSXVM"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-RH00BZSXVM");
  </script>
  <body>
    <div class="page-container">
      <header class="clickable-header">
        <h1 id="homeLink" data-url="{{ url_for('scrape_route') }}">
          DegreeViz
        </h1>
      </header>
      <div class="custom-manipulation-buttons">
        <button id="exportGraphBtn">Export Graph (JSON)</button>
        <a href="{{url_for('add_program')}}">
          <button id="addProgramToGraphBtn">
            Add Another Program to Graph
          </button>
        </a>
      </div>
      <div id="courseNetwork"></div>
    </div>

    <footer>
      <p>
        Due to ambiguous prerequisites in the Course Catalogue, some
        prerequisites might be incorrect or missing, please always double check
        with
        <a href="https://coursecatalogue.mcgill.ca/courses/"
          >McGill's Course Catalogue</a
        >
        to ensure correct information.
      </p>
    </footer>

    <script type="text/javascript">
      // Pass Flask data to JavaScript global variables
      const prereqsData = {{ prereqs|tojson }};
      const detailsData = {{ details|tojson }};
    </script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
  </body>
</html>
